<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bucketList</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2fb62d0520.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<script>
    // 달력 기능
    //현재 날짜
    var year = new Date().getFullYear();// 현재 날짜의 년
    var month =new Date().getMonth()+1;// 현재 날짜의 월
    var day =new Date().getDate();// 현재 날짜
    $(document).ready(function() {
        getBucketList();
        getCards();
    });
    //카드 삭제
    function delCard(){
        const card = $(event.target).parents('.card');
        const title = card.find('.card-title').text();
        const content = card.find('.card-text').text();
        const img = card.find('img').attr('src');

        $.ajax({
            type:"DELETE",
            url:'/api/bucketLists/cards',
            data:{
                title:title,
                content:content,
                img:img
            },
            success:function(res){
                alert(res.msg);
                card.remove();
                location.reload();
            }
        });
    }
    //카드가져오기
    function getCards(){
        $('#cards *').remove();
        $('#cards').append(`
                <!--+카드-->
                <div class="card cardPlusBox">
                    <button type="button" class="btn cardPlus" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <!--카드 시작-->
        `)
        $.ajax({
            type:"GET",
            url: "/api/bucketLists/cards",
            data:{},
            success:function (res){
                let slideWidth = $('#cards').width();
                for(let i=0; i<res.length; i++){
                    if(i>2) slideWidth += 322;
                    if(res[i].success === "READY"){
                        $('#cards').append(`
                    <div class="card" id="card${i}">
                    <div class="card-top-img">
                    <!--여기 src 다음에 이미지 경로 넣어줄-->
                        <img src="${res[i].image}" class="card-img-top" alt="">
                        <button class="bucketEdit abs" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><i class="fa-solid fa-pen" onclick="cardFix('${res[i].image}')"></i></button>
                        <button class="bucketDelete abs" onclick="delCard()"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${res[i].title}</h5>
                        <p class="card-text">${res[i].content}</p>
                        <button class="bucketCheck abs2" onclick="cardOk('${res[i].image}','${res[i].title}','${res[i].content}')"><img src="/img/check2.png" height="50px;" alt="이미지"></button>
                    </div>
                </div>
                    `);
                    }else{
                        $('#cards').append(`
                    <div class="card" id="card${i}">
                    <div class='card-top-img'>
                    <!--여기 src 다음에 이미지 경로 넣어줄-->
                        <img src="${res[i].image}" class="card-img-top" alt="">
                        <button class="bucketEdit abs" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><i class="fa-solid fa-pen" onclick="cardFix('${res[i].image}')"></i></button>
                        <button class="bucketDelete abs" onclick="delCard()"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${res[i].title}</h5>
                        <p class="card-text">${res[i].content}</p>
                        <button class="bucketCheck abs2" onclick="cardCancel('${res[i].image}','${res[i].title}','${res[i].content}')"><i class="fa-solid fa-rotate-left"></i></button>
                    </div>
                </div>
                    `);
                    }

                    $('#cards').css({width:`${slideWidth}`});
                }
                if(res.length>3) {$('#cards').animate({left:-322})};
            }
        })
    }
    //카드 수정 정보 넣어주기
    function cardFix(image){
        const title = $(event.target).parents('.card').find('.card-title').text();
        const content = $(event.target).parents('.card').find('.card-text').text();
        const img = image;
        $('#exampleFormControlInput2').val(`${title}`);
        $('#exampleFormControlTextarea2').val(`${content}`);
        localStorage.setItem("title",title);
        localStorage.setItem("content",content);
        localStorage.setItem("img",image);
    }
    //카드 수정하기
    function cardFixed(){
        const title1 = localStorage.getItem("title");
        const content1 = localStorage.getItem("content");
        const img1 = localStorage.getItem("img");
        const title = $('#exampleFormControlInput2').val();
        const content = $('#exampleFormControlTextarea2').val();
        let share = "NO"
        if (document.getElementById('flexCheckDefault2').checked){
            share = "OK"
        }
        const formData = new FormData();
        const imageInput = $("#inputImg")[0].files[0];
        formData.append("title1",title1);
        formData.append("content1",content1);
        formData.append("img1",img1);
        formData.append("title",title);
        formData.append("share",share);
        formData.append("content",content);
        formData.append("image",imageInput);

        $.ajax({
            type:"PUT",
            url:"/api/bucketLists/cards",
            async:true,
            encrypt:'multipart/form-data',
            processData:false,
            contentType:false,
            data:formData,
            success : function (res){
                alert(res.msg);
                location.reload();
            }
        });
    }
    // 카드 등록 완료
    function createCard(){
        const formData = new FormData();
        const title = $('#exampleFormControlInput1').val();
        const content = $('#exampleFormControlTextarea1').val();
        const image = $("#formFileSm")[0].files[0];
        let share = "NO"
        if (document.getElementById('flexCheckDefault1').checked){
            share = "OK"
        }
        formData.append("title",title);
        formData.append("content",content);
        formData.append("image",image);
        formData.append("share",share);
        $.ajax({
            type:"POST",
            url:"/api/bucketLists/cards",
            async:true,
            encrypt:'multipart/form-data',
            processData:false,
            contentType:false,
            data:formData,
            success : function (res){
                alert(res.msg);
                location.reload();
            }
        });
    }
    //카드 오른쪽으로 이동
    function cardMoveLeft(){
        const w = $('#cards').width();
        let scrollX =document.getElementById('cards').offsetLeft;
        if(w<=1298 || scrollX >=0) {
            scrollX = 0;
            $('#cards').animate({left:`${scrollX}`});
        }else{
            scrollX += 322;
            $('#cards').animate({left:`${scrollX}`});
        }
    }
    //카드 왼쪽으로 이동
    function cardMoveRight(){
        const w = $('#cards').width();
        let scrollX =document.getElementById('cards').offsetLeft;
        if(w<=1298 || w+scrollX<=1298){
            scrollX = 1298-w;
            $('#cards').animate({left:`${scrollX}`});
        }else{
            scrollX -= 322;
            $('#cards').animate({left:`${scrollX}`});
        }

    }
    // 카드 완료
    function cardOk(image,title,content){
        $.ajax({
            type:"PUT",
            url: '/api/bucketLists/cards/ok',
            data:{image:image,
            title:title,
            content:content},
            success:function(res){
                alert(res.msg);
                location.reload();
            }
        })

    }
    // 카드 완료취소
    function cardCancel(image,title,content){
        $.ajax({
            type:"PUT",
            url: '/api/bucketLists/cards/cancel',
            data:{image:image,
                title:title,
                content:content},
            success:function(res){
                alert(res.msg);
                location.reload();
            }
        })
    }
    // 페이지 로딩시 데이터 가져오기 하단
    function getBucketList(){
        const listBox = $('#bucketListD-day');
        const date = new Date().toISOString().substring(0,10);
        $.ajax({
            type: 'GET',
            url: '/api/bucketLists/plan',
            data: {date:date},
            success: function (response) {
                const bucketLists = response;
                for(let i =0; i<bucketLists.length; i++){
                    const title = bucketLists[i].title;
                    const dayValue = bucketLists[i].d_day.substring(0,10);
                        listBox.append(`
                        <li class="bucketBoxLi">
                            <div class="row" style="margin:0;">
                                <div class="col-md-3 bucketDay calP">
                                    <p>${dayValue}</p>
                                </div>
                                <div class="col-md-9 bucketDay">
                                    <p style="text-align: left">${title}</p>
                                        <button class="bucketIcon editIcon" onclick="bucketEdit()" ><i class="fa-solid fa-pen"></i></button>
                                        <button class="bucketIcon deleteIcon" onclick="bucketDelete()"><i class="fa-solid fa-xmark"></i></button>
                                </div>
                            </div>
                        </li>
                        `);
                }
            },
            error: function (error){
                listBox.append('<h1> 현재는 데이터 조회가 되지 않습니다.</h1>');
                $('#BucketPlusBox').hide();
            }
        });
    }
    //버킷 수정버튼 데이터 처리 필요X
    function bucketEdit(){
        $('#BucketPlusBox').hide();
        const myClass = $(event.target).parents('.bucketBoxLi');
        const title = $(event.target).parents('.col-md-9').children('p').text();
        const dayValue = $(event.target).parents('.bucketBoxLi').find('.calP').text().replaceAll("\n","").trim();
        myClass.html(`
            <li class="bucketBoxLi" id="bucketInputBox" >
                        <div class="row" style="margin:0;">
                            <div class="col-md-3 bucketDay">
                                <input class="calInput" type="date" required pattern="\d{4}-\d{2}-\d{2}" min="2023-01-01" max="3000-12-31"value="${dayValue}" maxlength="10">
                            </div>
                            <div class="col-md-9 bucketDay">
                                    <input class="bucketInput" id="bucketRe" type="text" placeholder="Bucket-List를 입력해주세요" maxlength="24" style="text-align: left"value="${title}">
                                    <button class="bucketIcon" onclick="bucketEditSave('${title}','${dayValue}')"><i class="fa-solid fa-check"></i></button>
                                    <button class="bucketIcon deleteIcon" onclick="bucketEditCancel('${dayValue}','${title}')"><i class="fa-solid fa-xmark"></i></button>
                                </button>
                            </div>
                        </div>
                    </li>
            `);
        $('#bucketRe').focus();
    }
    //버킷 수정저장
    function bucketEditSave(before,beforeDay){
        const listBox = $('#bucketListD-day *');
        let title = $(event.target).parents('.col-md-9').children('input').val();
        const dayValue = $(event.target).parents('.bucketBoxLi').find('.calInput').val();
        if(title==='') return alert('입력된 값이 없습니다.');
        $.ajax({
            type : "PUT",
            url : '/api/bucketLists/plan',
            data : {date:dayValue,
                title:title,
                before:before,
                beforeDay:beforeDay,
            },
            success: function (response) {
                alert(response.msg);
                listBox.remove();
                getBucketList();
            }
        });
        $('#BucketPlusBox').show();
    }
    //버킷 수정취소 데이터 처리 필요X
    function bucketEditCancel(dayValue,title){
        const myClass = $(event.target).parents('.bucketBoxLi');
        myClass.html(`
        <li class="bucketBoxLi">
                        <div class="row" style="margin:0;">
                            <div class="col-md-3 bucketDay calP">
                                <p>${dayValue}</p>
                            </div>
                            <div class="col-md-9 bucketDay">
                                <p style="text-align: left">${title}</p>
                                    <button class="bucketIcon editIcon" onclick="bucketEdit()"><i class="fa-solid fa-pen"></i></button>
                                    <button class="bucketIcon deleteIcon" onclick="bucketDelete()"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                        </div>
                    </li>
        `)
        $('#BucketPlusBox').show();
    }
    //버킷 삭제
    function bucketDelete(){
        const listBox = $(event.target).parents('.bucketBoxLi');
        const dayValue = listBox.find('.calP>p').text();
        const title = listBox.find('.col-md-9>p').text();
        $.ajax({
            type:"DELETE",
            url:'/api/bucketLists/plan',
            data:{
                dayValue:dayValue,
                title:title,
            },
            success:function(res){
                alert(res.msg);
            }
        })
        listBox.remove();
    }
    //버킷추가버튼 데이터 처리 필요 X
    function bucketPlus() {
        $('#BucketPlusBox').hide();
        const listBox =  $('#bucketListD-day');
        const date = new Date().toISOString().substring(0,10);
        let bucketInput=`
                    <li class="bucketBoxLi" id="bucketInputBox" >
                        <div class="row" style="margin:0;">
                            <div class="col-md-3 bucketDay">
                                <input class="calInput" type="date" required pattern="\d{4}-\d{2}-\d{2}" min="2023-01-01" max="3000-12-31"value="${date}" maxlength="10">
                            </div>
                            <div class="col-md-9 bucketDay">
                                    <input class="bucketInput" id="bucketCr" type="text" placeholder="Bucket-List를 입력해주세요" maxlength="24" style="text-align: left">
                                    <button class="bucketIcon" onclick="bucketSave()"><i class="fa-solid fa-check"></i></button>
                                    <button class="bucketIcon deleteIcon" onclick="bucketPlusCancel()"><i class="fa-solid fa-xmark"></i></button>
                                </button>
                            </div>
                        </div>
                    </li>
            `
        listBox.append(bucketInput);
    }
    //버킷추가저장 데이터 처리O
    function bucketSave(){
        const listBox = $('#bucketListD-day');
        const title = $(event.target).parents('.col-md-9').children('input').val();
        const dayValue = $(event.target).parents('.bucketBoxLi').find('.calInput').val();
        if (title === "") {
            alert('내용을 입력해 주세요.');
            return ;
        }
        $.ajax({
            type : "POST",
            url : '/api/bucketLists/plan',
            data : {date:dayValue,
                    title:title},
            success: function (response) {
                alert(response.msg);
            },
            error: function (error){
                listBox.append('<h1> 현재는 데이터 조회가 되지 않습니다.</h1>');
            }
        });
        const addBucketList = `<li class="bucketBoxLi">
                    <div class="row" style="margin:0;">
                        <div class="col-md-3 bucketDay calP">
                            <p>${dayValue}</p>
                        </div>
                        <div class="col-md-9 bucketDay">
                            <p style="text-align: left">${title}</p>
                                <button class="bucketIcon editIcon" onclick="bucketEdit()"><i class="fa-solid fa-pen"></i></button>
                                <button class="bucketIcon deleteIcon" onclick="bucketDelete()"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </li>`;
        listBox.append(addBucketList);
        $('#bucketInputBox').remove();
        $('#BucketPlusBox').show();

    }
    //버킷추가취소
    function bucketPlusCancel(){
        $('#bucketInputBox').remove();
        $('#BucketPlusBox').show();
    }

</script>
<style>
    /*전체 옵션*/
    *{margin:0;padding:0;}
    input:focus {outline: none;}
    ::-webkit-scrollbar {
        width: 0;
    }
    ul,li,ol{list-style: none; margin:0; padding:0;}

    /* 헤더 네비게이션 */
    .fo{background: red; border-radius: 5px;}
    #leftNav {transition: 0.5s}
    .leftMenu {background: none; border: 0; border-bottom: 1px solid black; width: 80%; padding: 10px; transition: 0.5s; border-radius: 5px;}
    .leftMenu:hover {background: #777}
    .btntt{width:50px; height:50px; line-height: 50px; border:0; border-radius: 5px; background: rgba(255,255,255,0.3);; font-size: 20px; transition: 1s; }
    .btntt:hover{background-color: rgba(255,255,255,0.7);}

    /* 카드섹션 */
    /* 카드 영역*/
    #slide {position: relative; text-align: center;overflow-x: hidden; height:550px; margin: 0; padding:0 !important;}
    #cards{position: absolute; width:1300px; height:500px; margin: 0; padding:50px 0 0 0; left:0; }
    /*개별 카드*/
    .card { width: 300px; height: 400px; margin:0 10px 0 10px; float: left; box-sizing: border-box;}
    .card:nth-of-type(1){margin-left:20px;}
    .card-img-top {height: 170px;}
    .card-body {background-color: hsl(0, 0%, 80%, 0.3)}
    .cardPlus {background: none; width:100px; height:100px;  margin: 0 auto; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; border: 0; padding:0; font-size: 45pt; border-radius: 45px; transition: 1s; }
    .cardPlus:hover{background-color: rgba(255,255,255,0.7);}
    .cardPlusBox{background-color: hsl(0, 0%, 80%, 0.3);text-align: center; justify-content: center; }
    /*카드 좌우 이동버튼*/
    .cardBtn{position: absolute;width:50px; height:50px; border-radius: 25px; top:50%; border:0; background: none; transition: 1s;}
    .cardBtn:hover {background: #eee;}

    .bucketEdit {background: none; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; border: 0;
        border-radius: 10px; transition: 1s;
        position: absolute; padding: 0; line-height: 25px; width:25px; height:25px; top:5px; right:35px;}
    .bucketEdit:hover{background-color: rgba(255,255,255,0.7);}
    .bucketDelete {background: none; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; border: 0; font-size: 17pt;
        border-radius: 10px; transition: 1s;
        position: absolute; padding: 0; line-height: 25px; width:25px; height:25px; top:5px; right:5px;}
    .bucketDelete:hover{background-color: rgba(255,255,255,0.7);}
    .bucketCheck {background: none; border: 0;}
    .fa-solid{color: rgb(61, 59, 59);}
    .card-top-img{height:170px;}
    .abs2 {position: absolute; height: 70px; box-sizing: border-box; padding: 10px; border-radius: 35px; bottom:15px; transform: translate(-50%); transition: 0.2s;}
    .abs2:hover{background-color:  rgba(255,255,255,0.7); box-sizing: border-box; }
    .modal-body {text-align: left;}
    .form-label{font-size: 17pt;}
    .shareBox{display:flex; margin: 0 auto; text-align: center; justify-content: center; align-content: center;}
    .shareCheck{width:25px; height:25px; margin-right:5px;}
    .shareCheckLabel{font-size:17px; }

    /* 리스트섹션 */
    .bucketBoxes{position: relative; margin-top: 20px;}
    .bucketBoxLi{position: relative; height:70px; z-index: 10; border: 1px solid rgb(163, 156, 156); border-radius:35px; margin-top: 15px;}
    .bucketBoxLi:nth-of-type(1){margin:0;}
        /*아이콘 설정*/
        .bucketIcon {width:40px; top:25%; height: 40px; line-height: 40px; background: none; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
        position: absolute; right:7%; border: 0; font-size: 17pt; border-radius: 25px; transition: 1s; z-index: 1000;}
        .bucketIcon>i{z-index: 10;}
        .bucketIcon:hover{background-color:rgba(0,0,0,0.7);}
        .deleteIcon {right:2%;}
        /*내부 문자들*/
        .bucketDay {margin:0;padding:0; box-sizing: border-box}
        .bucketDay p{height:70px; line-height:70px; padding:0; margin:0; text-align: center; font-size: 14pt;}
        .calInput{width:100%; line-height:35px; height:65px; border-radius: 35px 0 0 35px; text-align: center; border: 0; font-size: 14pt;}
        .calInput::after{padding-right: 20%;}
    .PlusBtn {width:50px; height:50px; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; border: 0; border-radius: 25px; padding:0; font-size: 25pt;  transition: 1s;
        position: absolute; margin-top: 10px;}
    .PlusBtn:hover{background-color: rgba(0,0,0,0.7);}
    .bucketInput {width:100%; line-height:35px; border-radius:0 35px 35px 0; height:65px; border: 0; text-align: left;font-size: 14pt;}
    input[type="date"]::-webkit-calendar-picker-indicator{
        display: none;
    }

</style>
<body>
<!--네비게이션-->
<%-include('./topNav')%>
<!--바디-->

<!--헤더-->
<section style="background-image: url('/img/winter.jpg'); background-size: cover; margin-top: 80px;">
    <div class="container-fluid" style="height:400px; text-align: center;" >
        <h1 style="padding-top: 100px; color:#000; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;">BUCKET 리스트</h1>
        <div>
            <p style="margin: 0;padding: 0">
                <span id="thisDay" style="text-align: center;color:#000; font-size: 30px; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;"></span>
                <br/>
                <span id="today" style="text-align: center;color:#000; font-size: 30px; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;"></span>
            </p>
        </div>
    </div>
</section>
<!--카드섹션-->
<section style="background-color: rgba(255,255,255); height: 550px; position: relative"><!-- 가로 풀사이즈-->
    <div class="container" style="position: relative">
        <h2 style="text-align: center; margin-top: 50px;">버킷리스트 카드</h2>
        <div id="slide">
            <div id="cards">
                <!--+카드-->
                <div class="card cardPlusBox">
                    <button type="button" class="btn cardPlus" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <!--카드 시작-->
            </div>
        </div>
        <div>
            <button id="cbl" class="cardBtn" onclick="cardMoveLeft()"style="left:-50px;"><i class="fa-solid fa-chevron-left"></i></button>
            <button id="cbr" class="cardBtn" style="right:-50px;" onclick="cardMoveRight()"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <!--        카드 이동 버튼-->
    </div>

</section>
<!--버킷리스트 섹션-->
<section style="margin-top: 50px;">
<div class="container" style="padding: 0;">
    <div class="row" style="padding: 0;">
<!--        여백 div-->
        <div class="col-md-2" style="margin: 0;"></div>
        <!--        버킷리스트  인풋 및 상자-->
        <div class="col-md-8" style="padding: 0; margin: 0;">
            <h2 style="text-align: center; margin-bottom: 30px;">버킷리스트 플랜</h2>
            <section id="listBox" style="text-align: center;">
                <ul class="bucketBoxes" id="bucketListD-day">
                </ul>
<!--                +버튼 구조-->
                <ul class="bucketBoxes" >
                    <li class="bucketBoxLi" id="BucketPlusBox">
                        <button type="button" class="PlusBtn" onclick="bucketPlus()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                </ul>
            </section>
        </div>
    </div>
<!--    여백 div-->
    <div class="col-md-2"style="margin: 0;"></div>
</div>
</section>
<!--모달-->
<!-- 모달창 -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">BUCKET 리스트 추가</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" maxlength="20">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                        <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3" maxlength="40"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label">Image</label>
                        <input type="file" class="form-control form-control-sm" name="image" id="formFileSm" >
                    </div>
                    <div class="shareBox">
                        <input class="shareCheck" type="checkbox" value="" id="flexCheckDefault1">
                        <label class="shareCheckLabel" for="flexCheckDefault1">
                            공유 허용시 체크
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button onclick="createCard()" data-bs-dismiss="modal" class="btn btn-primary">등록</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- 수정 모달창 -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">BUCKET 리스트 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" name="title" class="form-control" id="exampleFormControlInput2" maxlength="20">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea2" class="form-label">Content</label>
                        <textarea class="form-control" name="content" id="exampleFormControlTextarea2" rows="3" maxlength="40"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label">Image</label>
                        <input type="file" id="inputImg" class="form-control form-control-sm">
                    </div>
                    <div class="shareBox">
                        <input class="shareCheck" type="checkbox" value="" id="flexCheckDefault2">
                        <label class="shareCheckLabel" for="flexCheckDefault2">
                            공유 허용시 체크
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button onclick="cardFixed()" data-bs-dismiss="modal" class="btn btn-primary">수정</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--풋터-->
<%-include('./footer')%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>



