<footer style="margin-top: 50px;">
    <div class="container-fluid" style="background: #333; text-align: center; height:200px; ">
        <h6 style="line-height: 200px; color:#ccc;">Copyright <i class="fa-regular fa-copyright"></i>  2023. 투두리 All rights reserved.</h6>
    </div>
</footer>