<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>메인페이지</title>
  <!--    BootStrap Library-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <!--    JQuery-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!--    JQuery Cookie-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <!--    fontawesome-->
  <script src="https://kit.fontawesome.com/2fb62d0520.js" crossorigin="anonymous"></script>
  <!--    calendar-->
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
  #leftNav {transition: 0.5s}
  .leftMenu {background: none; border: 0; border-bottom: 1px solid black; width: 95%; padding: 10px; transition: 0.5s; border-radius: 5px;}
  .leftMenu:hover {background: #777}


  #calendarBox{
    width: 100%;
  }

  #calendarBox > div {
    float: left;
  }

  .fc-toolbar-title {
    margin-left: 550px !important;
    font-weight: bold;
  }

  .fc-day a {
    color: black;
    text-decoration: none;
  }

  .fc-day-sun a {
    color: red;
    text-decoration: none;
  }

  .fc-day-sat a {
    color: blue;
    text-decoration: none;
  }
  .fc-header-toolbar{
    background:plum;
    margin-bottom: 0 !important;
    height: 120px;
  }

</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height:750,
      contentHeight:180,
      timeZone: 'UTC',
      initialView: 'dayGridMonth',
      // locale: 'ko',
      titleFormat: function (date) {
      year = date.date.year;
      month = date.date.month + 1;
      return year + "년 " + month + "월";
      },
      events: [
        {
          title: 'all',
          color: 'blue',
          start: '2023-03-10',
        },
      ]
    });
    calendar.render();
  });

  fetch(`http://localhost:3000/calendar/preview/todo`)
    .then((response) => response.json())
    .then((data) => {
      const todo = data.data;
      for (let i = 0; i < todo.length; i++){
        const todoo = todo[i].title;
        const p = document.createElement('p');
        p.innerHTML = todoo;
        document.getElementById('todoPreview').appendChild(p);
      }
    });

  fetch(`http://localhost:3000/calendar/preview/bucket`)
    .then((response) => response.json())
    .then((data) => {
      const bucket = data.data;
      for (let i = 0; i < bucket.length; i++){
        const buckett = bucket[i].title;
        const p = document.createElement('p');
        p.innerHTML = buckett;
        document.getElementById('bucketPreview').appendChild(p);
      }
    });

  // fetch(`http://localhost:3000/calendar/preview/bucket`)
  //   .then((response) => response.json())
  //   .then((data) => {
  //     const row = data.data.map((bucket) => `<p>${bucket.title}</p>`);
  //     const p = document.createElement('p');
  //     p.innerHTML = row;
  //     document.getElementById('bucketPreview').appendChild(p);
  //   });

  // 페이지네이션
  // var page = 2;
  // var k = '';
  // $(window).scroll(function() {
  //   if ($(window).scrollTop() == $(document).height() - $(window).height()) {
  //     show_table(page);
  //     if(k!=undefined){
  //       alert('page가 변경됩니다.')
  //       page++;
  //     }
  //   }
  // });
  // 목록 받아오기 받아오면 뿌려줄때 갯수에 따라 페이지 네이션 되게함
</script>
<body>
  <!--네비게이션-->
  <%-include('./topNav')%>
  <!--바디-->
  <div clsss="container-fluid" style="background-image: url('img/102682.jpg'); background-size: 100% 100%; margin-top: 80px;">
    <div class = "container" style="padding-top: 50px; padding-bottom: 50px;">
      <!--   달력 들어가야 하는부분-->
      <section style="height: 800px; background-color:rgba(255,255,255,1); border-radius: 5px;">
        <div class="container-fluid" style="height:800px; text-align: center; padding-top: 20px; margin:0;" id="calendarBox" >
          <div id="calendar" style="width: 100%; "></div>
          <!-- <div id="calendar1" style="width: 48%; margin-left: 4%;"></div> -->
        </div>
      </section>
  </div>
  </div>
  <div clsss="container-fluid">
    <div class = "container">
      <!--    TODO 리스트 및 버킷 리스트 보여주기-->
      <section style="height:280px; ">
        <div class="container-fluid">
          <div class = "row" style="margin-top:20px;">
            <div class = "col-md-6" style="background-color: bisque; border-radius: 10px; width: 48%; padding-top: 15px;">
              <h3 style="text-align: center; border-radius: 10px;"><img src="/img/to-do-list.png" style="width:50px; height:50px;">TODO 리스트</h3>
              <p style="text-align: right"><a href="/page/todoListMonth" style="color: #888; text-decoration-line: none;" >+More</a></p>
              <hr/>
              <div style="text-align: center; background-color: #fff; border-radius: 10px;" id="todoPreview">
              </div>
            </div>
            <div class = "col-md-6" style="background-color: bisque; margin-left: 50px; border-radius: 10px; width: 48%; padding-top: 15px;">
              <h3 style="text-align: center; border-radius: 10px;"><img src="/img/bucket-list.png" style="width:50px; height:50px;">버킷 리스트</h3>
              <p style="text-align: right"><a href="/page/bucketList" style="color: #888; text-decoration-line: none;">+More</a></p>
              <hr/>
              <div style="text-align: center; background-color: #fff; border-radius: 10px;" id="bucketPreview">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--    추후 업데이트 예정-->
  <section>
    <div class="container-fluid" style="background: aqua; text-align: center; height:400px; margin-top: 50px;">
      <h1 style="line-height: 400px;">추후 업데이트 예정입니다.</h1>
    </div>
  </section>
  <footer>
    <div class="container-fluid" style="background: #333; text-align: center; height:100px; ">
        <h6 style="line-height: 100px; color:#ccc;">Copyright <i class="fa-regular fa-copyright"></i>  2023. 투두리 All rights reserved.</h6>
    </div>
  </footer>
</body>
</html>