<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>메인페이지</title>
  <!--    BootStrap Library-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <!--    JQuery-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!--    JQuery Cookie-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <!--    fontawesome-->
  <script src="https://kit.fontawesome.com/2fb62d0520.js" crossorigin="anonymous"></script>
  <!--    calendar-->
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
  #leftNav {transition: 0.5s}
  .leftMenu {background: none; border: 0; border-bottom: 1px solid black; width: 90%; padding: 10px; transition: 0.5s; border-radius: 5px;}
  .leftMenu:hover {background: #777}

  #calendarBox{
    width: 100%;
  }

  #calendarBox > div {
    float: left;
  }

  .fc-toolbar-title {
    margin-left: 550px !important;
    font-weight: bold;
  }

  .fc-col-header-cell {
	background-color: #ffe0ef;
  }

  .fc-day a {
    color: black;
    text-decoration: none;
  }

  .fc-day-sun a {
    color: red;
    text-decoration: none;
  }

  .fc-day-sat a {
    color: blue;
    text-decoration: none;
  }
  .fc-header-toolbar{
    margin-bottom: 0 !important;
    height: 120px;
  }

  .more {
    display: inline-block;
    transform: rotate(15deg);
    position: relative;
    top: -12px;
  }
  
  .fc-daygrid-day-events> .fc-daygrid-event-harness:nth-of-type(1){
  position: absolute;
  height: 30px;
  top:-30px;
  }

  .fc-event {
  text-align: center;
  }
</style>
<script>

  $(document).ready(function(){
      login();

  });

  // 로그인 리다이렉트
  function login(){
    const data = window.location.href.split('#')[1];
    if(data===undefined) return ;
    $.ajax({
      type:"POST",
      url:"/api/user/login",
      data:{data},
      success:function (res){
        document.cookie = `access_token=${res['Atoken']}`;
        location.href="/";
      }
    })
  }

  // main Calnedar 데이터 표시
  document.addEventListener('DOMContentLoaded', function () {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    height: 750,
    contentHeight: 180,
    timeZone: 'UTC',
    initialView: 'dayGridMonth',
    eventOrder : 'displayOrder', 
    // locale: 'ko',
    titleFormat: function (date) {
      year = date.date.year;
      month = date.date.month + 1;
      return year + "년 " + month + "월";
    },
    events: function (info, success, failure) {
      // Calendar TodoList 데이터 가져오기
      fetch('/api/calendar/todo')
        .then((response) => response.json())
        .then((data) => {
          const todo = data.data;
          
          // 캘린더의 날짜가 변경될 때마다 호출되는 함수
          function updateTodoPreview() {
            const currentDate = calendar.getDate(); // 현재 캘린더에 표시되는 날짜
            const currentStr = currentDate.toISOString().substr(0, 10); // YYYY-MM-DD 형식의 문자열로 변환
            fetch(`/api/preview/todo?date=${currentStr}`)
              .then(response => response.json())
              .then(data => {
                const todo = data.data.filter(todoo => todoo.today.startsWith(currentStr))
                                      .map(todoo => `<p style="line-height:5px">${todoo.title}<hr style="width: 60%; margin-left: auto; margin-right: auto;"/></p>`)
                                      .join('');
                todoPreview.innerHTML = todo;
              });
          }

          // 페이지가 로드될 때 한 번 호출하여 현재 날짜 미리보기를 표시함
          updateTodoPreview();

          // 달성률 계산
          const achievements = {}; // 빈 객체 생성
          for (let i = 0; i < todo.length; i++) {
            const date = todo[i].today;
            const achieved = todo[i].success === 'SUCCESS' ? 1 : 0; // 'SUCCESS'일 경우 1을, 아닐 경우('READY') 0
            if (!achievements[date]) {
              achievements[date] = { achieved: 0, total: 0 }; // 객체에 현재 날짜의 항목이 없을 경우, 새 객체를 생성하고 추가
            }
            achievements[date].achieved += achieved; // 해당 날짜의 achieved 에 현재 항목 수 +
            achievements[date].total++; // 해당 날짜의 total 에 +1 함 
          }

          // 이벤트 생성
          const events = [];
          for (const date in achievements) { //for in 반복문: 객체의 속성들을 반복할때 주로 사용
            const achievementRate = achievements[date].total > 0
              ? Math.round((achievements[date].achieved / achievements[date].total) * 100)
              : 0; // 삼항 연산자를 사용하여 값이 0보다 크면 달성률 계산, 0보다 작거나 같으면(해당 날짜에 할 일 없는 경우) 0
            events.push({
              title: `${Math.round(achievementRate)}%`, // Math.round함수 정수 반올림
              start: date, // 이벤트 시작 날짜
              color: 'green', // todo 달성률 이벤트는 초록색으로 표시
            });
          }
          
          // Calendar BucketList 데이터 가져오기
          fetch('/api/calendar/bucket')
            .then((response) => response.json())
            .then((data) => {
              const bucket = data.data;
              for (let i = 0; i < bucket.length; i++) {
                events.push({
                  title: bucket[i].title,
                  start: bucket[i].d_day,
                  color: '#FF7F50', // bucket 이벤트는 주황색으로 표시
                });
              }
              success(events);
            })
            .catch((error) => {
              failure(error);
            });
        })
        .catch((error) => {
          failure(error);
        });
      },
      
      // 일자를 클릭할 때 실행되는 함수
      dateClick: function(info) {
        const selectedDate = info.date || new Date(); // info.date가 존재하지 않으면 현재 날짜로 초기화
        const selectedDateCell = info.dayEl;
        const todayCells = document.getElementsByClassName('fc-day-today');
        for (let i = 0; i < todayCells.length; i++) {
          todayCells[i].classList.remove('fc-day-today');
        }
        selectedDateCell.classList.add('fc-day-today');
        calendar.gotoDate(selectedDate); // 클릭한 날짜로 이동

        // 해당 일자에 맞는 TodoList 미리보기
        const selectedDateStr = selectedDate.toISOString().substr(0, 10); // toISOString 메소드로 객체를 문자열 반환, YYYY-MM-DDTHH:mm:ss.sssZ 로 반환된 것을 subsrt 메소드로 첫 10자 추출
        fetch(`/api/preview/todo?date=${selectedDateStr}`)
          .then(response => response.json())
          .then(data => {
            const todo = data.data.filter(todoo => todoo.today.startsWith(selectedDateStr)) // todo 배열에서 선택한 날짜에 해당 항목만 필터링
                                  .map(todoo => `<p style="line-height:5px">${todoo.title}<hr style="width: 60%; margin-left: auto; margin-right: auto;"/></p>`) // 각 항목을 html 문자열로 변환
                                  .join(''); // html 문자열을 결합
            todoPreview.innerHTML = todo;
          });
        },
    });
    calendar.render();
  });

  // BucketList 미리보기
  fetch(`/api/preview/bucket`)
    .then((response) => response.json())
    .then((data) => {
      const bucket = data.data;
      for (let i = 0; i < bucket.length; i++){
        const buckett = `<p style="line-height:5px">${bucket[i].title}<hr style="width: 60%; margin-left: auto; margin-right: auto;"/></p>`;
        const p = document.createElement('p');
        p.innerHTML = buckett;
        document.getElementById('bucketPreview').appendChild(p);
      }
    });

  // 페이지네이션
  // var page = 2;
  // var k = '';
  // $(window).scroll(function() {
  //   if ($(window).scrollTop() == $(document).height() - $(window).height()) {
  //     show_table(page);
  //     if(k!=undefined){
  //       alert('page가 변경됩니다.')
  //       page++;
  //     }
  //   }
  // });
  // 목록 받아오기 받아오면 뿌려줄때 갯수에 따라 페이지 네이션 되게함

  // function imageChange(){
  //   $(event.target).parents('.col-md-6').css({'background-image': 'url("img/ac2.png")', 'background-size': '100% 100%'});
  //   $(event.target).parents('.col-md-3').css({'transition': '0.5s','background-size': '100% 100%', 'position': 'relative'}).animate({'top': '10px'});
  // }

  // function imageChange2(){
  //   $(event.target).parents('.col-md-6').css({'background-image': 'url("img/abc.png")'});
  //   $(event.target).parents('.col-md-3').animate({'transition': '0.5s','background-size': '100% 100%', 'transform': 'none', 'position': 'static'}).animate({'top': '0'});
  // }
  // onmouseover="imageChange()" onmouseleave="imageChange2()"

</script>
<body>
  <!--네비게이션-->
  <%-include('./topNav')%>
  <!--바디-->
  <div clsss="container-fluid" style="background-size: 100% 100%; margin-top: 130px;">
    <div class = "container" style="background-image: url('img/main1.png'); background-size: 100% 100%; padding-top: 50px; padding-right: 20px; padding-bottom: 10px;">
      <!--   달력 들어가야 하는부분-->
      <section style="height: 800px; border-radius: 5px;">
        <div class="container-fluid" style="height:800px; text-align: center; padding-top: 20px; margin:0;" id="calendarBox" >
          <div id="calendar" style="width: 100%;"></div>
        </div>
      </section>
    </div>
  </div>
  <div clsss="container-fluid">
    <div class = "container">
      <section>
        <div class="container-fluid">
          <div class = "row" style="margin-top:20px;">
            <div class = "col-md-6" style="min-height: 720px; background-image: url('img/abc.png'); background-size: 100% 100%; width: 48%; padding-top: 60px;">
              <div class="row" style="margin-top: 60px; margin-bottom: 30px;">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding: 0">
                  <h3 style="text-align: center;"><img src="/img/to-do-list.png" style="width:50px; height:50px;">TODO 리스트</h3>
                </div>
                <div class="col-md-3" style="padding-left:20px; line-height: 58px; ">
                  <p style="text-align: left; padding-right:70px; margin:0;"><a href="/page/todoListDetail" style="color: blue; font-weight: bold; text-decoration-line: none;" class="more">+More</a></p>
                </div>
              </div>
              <div style="text-align: center; border-radius: 10px;" id="todoPreview">
            </div>
            </div>
            <div class = "col-md-6" style=" min-height: 720px; background-image: url('img/abc.png'); background-size: 100% 100%; margin-left: 50px; width: 48%; padding-top: 60px;">
              <div class="row" style="margin-top: 60px; margin-bottom: 30px;">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding: 0">
                  <h3 style="text-align: center;"><img src="/img/bucket-list.png" style="width:50px; height:50px;">버킷 리스트</h3>
                </div>
                <div class="col-md-3" style="padding-left:20px; line-height: 58px; ">
                  <p style="text-align: right; padding-right: 70px;"><a href="/page/bucketList" style="color: blue; font-weight: bold; text-decoration-line: none;" class="more">+More</a></p>
                </div>
              </div>  
              <div style="text-align: center;" id="bucketPreview"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--풋터-->
  <%-include('./footer')%>
</body>
</html>