<!--네비게이션-->
<header class = "container-fluid" style="padding:0; position: fixed; top:0; z-index: 100">
    <nav class="navbar navbar-expand-lg" style="height: 80px; border-bottom: 1px solid #ccc; background: #fff">
        <div class="container-fluid">
            <div class="row"style="width: 100%">
                <div class ="col-md-4" style="padding-left: 30px;">
                    <%-include('./leftNav')%>
                </div>
                <div class = "col-md-4" style="text-align: center">
                    <img src="/img/logof.png" style="width:150px; height:80px;" onclick="location.href='/'">
                </div>
                <div class = "col-md-4">
                </div>
            </div>
        </div>
    </nav>
</header>