<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>다팔고양</title>

    <!--    BootStrap Library-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--    JQuery Cookie-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  </head>
  <style></style>
  <script>

    // 페이지네이션
    $(document).ready(function(){

    });
    // var page = 2;
    // var k = '';
    // $(window).scroll(function() {
    //   if ($(window).scrollTop() == $(document).height() - $(window).height()) {
    //     show_table(page);
    //     if(k!=undefined){
    //       alert('page가 변경됩니다.')
    //       page++;
    //     }
    //   }
    // });
    // 목록 받아오기 받아오면 뿌려줄때 갯수에 따라 페이지 네이션 되게함

  </script>
  <body>
    메인페이지 입니다.
  </body>
</html>
